.preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

.prev-head {
  height: 25vh;
  width: 50vh;
  border: 1px solid #ad9976;
  margin-top: 6vh;
  border-radius: 39vh 39vh 0vh 0vh;
  position: relative;
  overflow: hidden;
}

.rays {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.ray {
  height: 24vh;
  width: 4vh;
  position: absolute;
  bottom: -11vh; 
  transform-origin: 2vh 25vh;
  text-align: center;
  border: 1px solid #ad9976;
  border-top: 0;
  z-index: 1;
}

.ray2 {
  transform: translateX(-2vh) rotate(30deg);
  color: pink;
}

.ray3 {
  transform: translateX(-2vh) rotate(60deg);
  color: white;
}

.ray4 {
  transform: translateX(-2vh) rotate(90deg);
}

.ray5 {
  transform: translateX(-2vh) rotate(270deg);
}

.ray6 {
  transform: translateX(-2vh) rotate(300deg);
}

.ray7 {
  transform: translateX(-2vh) rotate(330deg);
}

.ray8 {
  transform: translateX(-2vh) rotate(360deg);
}

.mem-photo {
  position: absolute;
  z-index: 2;
  border: 1px solid #ad9976;
  border-radius: 39vh 39vh 0vh 0vh;
  left: 12.5vh;
  top: 10vh;
  width: 25vh;
  height: 15vh;
  background-color: #0e1525;
  overflow: hidden;
  /* object-fit: cover; */
  display: flex;
  align-items: flex-start;
}

.center-sun {
  width: 100%;
  object-fit: cover;
}


.prev-name {
  width: 50vh;
  height: 10vh;
  margin: 2vh;
  border: 1px solid #ad9976;
  background-color: hsla(183, 9%, 32%, 0.3);
  border-radius: 1vh;
}

.name {
  color: #ad9976;
  text-align: center;
  font-size: 5vh;
  margin: 0;
  margin-top: 2vh;
}

.facts {
  color: #ad9976;
  height: 10vh;
  width: 25vh;
  border: 1px solid #ad9976;
  border-radius: 1vh;
  text-align: center;
  font-size: 2vh;
  background-color: hsla(354, 65%, 59%, 0.3);
  margin-right: 25vh;
}