.preview {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5%;
  width: 100%;
}

.prev-head {
  height: 25vh;
  width: 50vh;
  border: 1px solid #ad9976;
  margin-top: 6vh;
  border-radius: 39vh 39vh 0vh 0vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.rays {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.ray {
  height: 25vh;
  width: 4vh;
  position: absolute;
  bottom: -11vh; 
  transform-origin: 2vh 25vh;
  text-align: center;
  border: 1px solid #ad9976;
  border-top: 0;
  z-index: 1;

}

.ray2 {
  transform: translateX(-2vh) rotate(30deg);
}

.ray3 {
  transform: translateX(-2vh) rotate(60deg);
}

.ray4 {
  transform: translateX(-2vh) rotate(90deg);
}

.ray5 {
  transform: translateX(-2vh) rotate(270deg);
}

.ray6 {
  transform: translateX(-2vh) rotate(300deg);
}

.ray7 {
  transform: translateX(-2vh) rotate(330deg);
}

.ray8 {
  transform: translateX(-2vh) rotate(0deg);
}

.mem-photo {
  position: absolute;
  z-index: 2;
  border: 1px solid #ad9976;
  border-radius: 39vh 39vh 0vh 0vh;
  width: 25vh;
  height: 15vh;
  background-color: #0e1525;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
}

.center-sun {
  width: 100%;
  object-fit: cover;
}

.prev-name {
  width: 75vw;
  height: 10vh;
  margin: 2vh;
  border: 1px solid #ad9976;
  background-color: hsla(183, 9%, 32%, 0.3);
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  color: #ad9976;
  text-align: center;
  font-size: 5vh;
  margin: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.facts {
  color: #ad9976;
  width: 49%;
  border: 1px solid #ad9976;
  border-radius: 1vh;
  text-align: center;
  font-size: 2vh;
  background-color: hsla(52, 97%, 64%, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prev-exec {
  color: #ad9976;
  width: 49%;
  border: 1px solid #ad9976;
  border-radius: 1vh;
  text-align: center;
  margin: 0;
  font-size: 2vh;
  margin-left: 2vh;
  background-color: hsla(174, 86%, 57%, 0.3);
}

.text-facts {
  display: flex;
  justify-content: center;
  width: 75vw;
}

.prev-obit {
  width: 75vw;
  color: #ad9976;
  border: 1px solid #ad9976;
  border-radius: 1vh;
  text-align: center;
  margin-top: 2vh;
  background-color: hsla(354, 65%, 59%, 0.3);
}

.prev-gal {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-phot {
  margin-top: 2vh;
  border: 1px solid #ad9976;
  border-radius: 1vh;
  object-fit: cover;
  overflow: hidden;
}

.prev-img {
  width: 100%;
}

.visitor-view {
  align-items: center;
  display: flex;
  justify-content: center;
}

.visitor-view > .title {
  font-size: 4vh;
}