.exec-window {
  border: 1px solid black;
  height: 50vh;
  width: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: relative;
}

.shape {
  border: 1px solid black;
}

