main {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

h1 {
  color: #ad9976;
}

.window {
  display: grid;
  height: 85%;
  grid-template-rows: 18% 7% 12% 20% 11% 9% 24%;
  grid-template-columns: 6% 13% 20% 24% 18% 15% 7%;
  margin-left: 5%;
  margin-right: 5%;
  /* width: 88%; */
}

.preview-pane {
  background-color: red;
  clip-path: polygon(7% 44%, 69% 5%, 74% 67%, 15% 99%);
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
}

.countdown-pane {
  background-color: aqua;
  clip-path: polygon(27% 38%, 83% 0%, 81% 76%, 32% 100%);
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
}

.executor-pane {
  background-color: purple;
  clip-path: polygon(45% 1%, 99% 17%, 73% 93%, 32% 82%);
  grid-column: 5 / span 3;
  grid-row: 1 / span 4;
}

.placeholder-1 {
  background-color: yellow;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  grid-column: 1 / span 2;
  grid-row: 2 / span 8;
}

.recipient-pane {
  background-color: red;
  clip-path: polygon(14% 21%, 76% 2%, 99% 98%, 42% 86%);
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
}

.obit-pane {
  background-color: aqua;
  clip-path: polygon(1% 13%, 70% 0%, 54% 94%, 27% 100%);
  grid-column: 4 / span 2;
  grid-row: 4 / span 4;
}

.timeline-pane {
  background-color: red;
  clip-path: polygon(7% 0%, 45% 25%, 50% 98%, 16% 73%);
  grid-column: 3 / span 2;
  grid-row: 7 / span 8;
}

.gallery-pane {
  background-color: purple;
  clip-path: polygon(34% 0%, 81% 13%, 51% 100%, 16% 81%);
  grid-column: 5 / span 2;
  grid-row: 5 / span 3;
}

.placeholder-2 {
  background-color: palevioletred;
  clip-path: polygon(100% 0, 20% 100%, 100% 100%);
  grid-column: 6 / span 2;
  grid-row: 3 / span 5;
}