main {
  background-color: #0e1525;
  height: 100vh;
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

.window {
  display: grid;
  height: 85vh;
  grid-template-rows: 18% 7% 12% 20% 11% 9% 24%;
  grid-template-columns: 6% 13% 20% 24% 18% 15% 7%;
  margin-left: 5%;
  margin-right: 5%;
  overflow: unset;
}

.preview-pane {
  align-items: center;
  background-color: red;
  display: flex;
  clip-path: polygon(7% 44%, 69% 5%, 74% 67%, 15% 99%);
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  position: relative;
}

.preview-pane > img {
  margin-left: 17%;
  color: white;
  height: 5rem;
  width: 5rem;
  position: absolute;
}

.countdown-pane {
  align-items: center;
  background-color: aqua;
  display: flex;
  clip-path: polygon(27% 38%, 83% 0%, 81% 76%, 32% 100%);
  grid-column: 3 / span 3;
  grid-row: 1 / span 3;
  position: relative;
}

.countdown-pane > img {
  margin-left: 30%;
  color: white;
  height: 12rem;
  width: 64%;
  position: absolute;
}

.executor-pane {
  align-items: center;
  background-color: purple;
  display: flex;
  clip-path: polygon(45% 1%, 99% 17%, 73% 93%, 32% 82%);
  display: flex;
  align-items: center;
  grid-column: 5 / span 3;
  grid-row: 1 / span 4;
  position: relative;
}

.executor-pane > img {
  margin-left: 30%;
  color: white;
  height: 7rem;
  width: 50%;
  position: absolute;
  margin-left: 35%;
}

.placeholder-1 {
  align-items: center;
  background-color: yellow;
  display: flex;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  grid-column: 1 / span 2;
  grid-row: 2 / span 8;
}

.recipient-pane {
  align-items: center;
  background-color: red;
  display: flex;
  clip-path: polygon(14% 21%, 76% 2%, 99% 98%, 42% 86%);
  grid-column: 2 / span 2;
  grid-row: 3 / span 4;
  position: relative;
}

.recipient-pane > img {
  margin-left: 10%;
  color: white;
  height: 10rem;
  width: 70%;
  position: absolute;
}

.obit-pane {
  align-items: center;
  background-color: aqua;
  display: flex;
  clip-path: polygon(1% 13%, 70% 0%, 54% 94%, 27% 100%);
  font-size: 50px;
  grid-column: 4 / span 2;
  grid-row: 4 / span 4;
  position: relative;
}

.obit-pane > img {
  margin-left: 16%;
  color: white;
  height: 8rem;
  width: 7rem;
  position: absolute;
}

.timeline-pane {
  align-items: center;
  background-color: red;
  display: flex;
  clip-path: polygon(7% 0%, 45% 25%, 50% 98%, 16% 73%);
  grid-column: 3 / span 2;
  grid-row: 7 / span 8;
  position: relative;
}

.timeline-pane > img {
  margin-left: 7%;
  color: white;
  height: 6rem;
  width: 6rem;
  position: absolute;
}

.gallery-pane {
  align-items: center;
  background-color: purple;
  display: flex;
  clip-path: polygon(34% 0%, 81% 13%, 51% 100%, 16% 81%);
  grid-column: 5 / span 2;
  grid-row: 5 / span 3;
  position: relative;
}

.gallery-pane > img {
  margin-left: 26%;
  color: white;
  height: 6rem;
  width: 6rem;
  position: absolute;
}

.placeholder-2 {
  align-items: center;
  background-color: palevioletred;
  display: flex;
  clip-path: polygon(100% 0, 20% 100%, 100% 100%);
  grid-column: 6 / span 2;
  grid-row: 3 / span 5;
}

.loading-message {
  color: white;
  font-size: 2rem;
  text-align: center;
}