.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  margin-left: 12%;
}

.profile-dome {
  /* border: 2vh solid #0E1525; */
  height: 35vh;
  width: 75vh;
  border-radius: 39vh 39vh 0vh 0vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  object-fit: cover;
  overflow: hidden;
}

.left-dome {
  height: 100%;
  width: 30%;
  border-left: 2vh solid #0E1525;
  z-index: 1;
  position: absolute;
  margin-left: 51vh;
  background-color: #3891a6;
  border-radius: 0vh 39vh 0vh 0vh;
}

.right-dome {
  height: 100%;
  width: 30%;
  border-right: 2vh solid #0E1525;
  z-index: 1;
  position: absolute;
  background-color: #e3655b;
  border-radius: 39vh 0vh 0vh 0vh;
}

.center-dome {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
}

.slideshow {
  border-top: 1vh solid #0E1525;
  border-bottom: 1vh solid #0E1525;
  height: 10vh;
  width: 74.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4c5b5c;
  z-index:1;
}

.slideshow-header {
  margin-top: 0;
}

.gallery-panes {
  display: grid;
  grid-gap: 2vh;
  grid-template-columns: repeat(6, 16vh);
  grid-template-rows: repeat(6, 16vh);
  transform: rotate(-45deg);
  margin-left: -12vh;
  z-index: -1;
  margin-top: -10vh;
}

.gal-diamond {
  font-size: 150%;
  background-color: #b9d6c2;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center;
}

.gal-img {
 transform: rotate(45deg);
 height: 20vh;
}

.gal-view {
 height: 91vh;
 width: 75vh;
 border: 1px solid black;
 object-fit: cover;
 overflow: hidden;
}

.add-gal-photo {
  height: 3.5vh;
  width: 15vh;
  background-color: #0E1525;
  outline: none;
  border: 2px solid #AD9976;
  color: #AD9976;
  border-radius: .5vh;
}


/* Partial Top Panes */

.g-18 {
  background-color: #35F1DF
}


.g-11 {
  background-color: #DB5461
}

.g-4 {
  background-color: #FDE74C
}

/* Partial Left Panes */

.g-3 {
  background-color: #3891a6
}

.g-8 {
  background-color: #e3655b
}

.g-13 {
  background-color: #4c5b5c
}

/* Partial Right Panes */

.g-24 {
  background-color: #FDE74C
}

.g-29 {
  background-color: #3891a6
}

.g-34 {
  background-color: #DB5461
}

/* Partial Bottom Panes */

