.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-dome {
  height: 35vh;
  width: 60vh;
  border-radius: 39vh 39vh 0vh 0vh;
  overflow: hidden;
  border: 1px solid #ad9976;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

.center-dome {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  height: 10vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(183, 9%, 32%, 0.3);
  z-index:1;
  border: 1px solid #ad9976;
}

.slideshow-header {
  margin-top: 0;
}

.gallery-panes {
  display: grid;
  grid-gap: 2vh;
  grid-template-columns: repeat(6, 15vh);
  grid-template-rows: repeat(6, 15vh);
  transform: rotate(-45deg);
  margin-left: -16.5vh;
  z-index: -1;
  margin-top: -10vh;
}

.gal-diamond {
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center;
  border: 1px solid #ad9976;
}

.gal-img {
 transform: rotate(45deg);
 height: 22vh;
}

.gal-view {
 height: 91vh;
 width: 60vh;
 border: 1px solid #ad9976;
 object-fit: cover;
 overflow: hidden;
}

.add-gal-photo {
  height: 3.5vh;
  width: 15vh;
  background-color: #0E1525;
  outline: none;
  border: 2px solid #AD9976;
  color: #AD9976;
  border-radius: .5vh;
}

.gal-rule, .gal-head {
  color: #AD9976;
}

.gal-head {
  font-size: 4vh;
  margin-bottom: 4vh;
}

.gal-prof {
  height: 100%;
}

/* Partial Top Panes */

.g-18 {
  background-color: hsla(174, 86%, 57%, 0.3);
}


.g-11 {
  background-color: hsla(354, 65%, 59%, 0.3);
}

.g-4 {
  background-color: hsla(52, 97%, 64%, 0.3);
}

/* Partial Left Panes */

.g-3 {
  background-color: hsla(191, 49%, 43%, 0.3);
}

.g-8 {
  background-color: hsla(4, 70%, 62%, 0.3);
}

.g-13 {
  background-color: hsla(183, 9%, 32%, 0.3);
}

/* Partial Right Panes */

.g-24 {
  background-color: hsla(52, 97%, 64%, 0.3);
}

.g-29 {
  background-color: hsla(191, 49%, 43%, 0.3);
}

.g-34 {
  background-color: hsla(354, 65%, 59%, 0.3);
}

/* Partial Bottom Panes */

.g-33 {
  background-color: hsla(174, 86%, 57%, 0.3);
}

.g-26 {
  background-color: hsla(183, 9%, 32%, 0.3);
}

.g-19 {
  background-color: hsla(52, 97%, 64%, 0.3);
}