.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.profile-dome {
  height: 17vh;
  width: 100%;
  border-radius: 39vh 39vh 0vh 0vh;
  overflow: hidden;
  border: 1px solid #ad9976;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
}

.gal-border {
  height: 100%;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 7.5vh;
}

.center-dome {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow {
  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(183, 9%, 32%, 0.3);
  z-index:1;
  border: 1px solid #ad9976;
}

.slideshow-header {
  margin-top: 0;
}

.gallery-panes {
  display: grid;
  grid-gap: 2vh;
  grid-template-columns: repeat(6, 12vh);
  grid-template-rows: repeat(6, 12vh);
  transform: rotate(-45deg);
  margin-left: -9.25vh;
  z-index: -1;
  margin-top: -10vh;
}

.gal-diamond {
  object-fit: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content:center;
  border: 1px solid #ad9976;
}

.gal-img {
 transform: rotate(45deg);
 height: 22vh;
}

.gal-view {
 height: 56vh;
 width: 100%;
 border: 1px solid #ad9976;
 object-fit: cover;
 overflow: hidden;
}

.add-gal-photo {
  height: 3.5vh;
  width: 15vh;
  background-color: #0E1525;
  outline: none;
  border: 2px solid #AD9976;
  color: #AD9976;
  border-radius: .5vh;
}

.gal-rule, .gal-head {
  color: #AD9976;
}

.gal-head {
  font-size: 2vh;
  border: 1px solid #ad9976;
  margin: 0;
  padding: 1vh;
  width: 20vh;
  text-align: center;
  border-radius: 1vh;
  background-color: hsla(183, 9%, 32%, 0.3);
  margin-bottom: 2vh;
}

.gal-prof {
  height: 100%;
}

/* Partial Top Panes */

.g-18 {
  background-color: hsla(174, 86%, 57%, 0.3);
}


.g-11 {
  background-color: hsla(354, 65%, 59%, 0.3);
}

.g-4 {
  background-color: hsla(52, 97%, 64%, 0.3);
}

/* Partial Left Panes */

.g-3 {
  background-color: hsla(191, 49%, 43%, 0.3);
}

.g-8 {
  background-color: hsla(4, 70%, 62%, 0.3);
}

.g-13 {
  background-color: hsla(183, 9%, 32%, 0.3);
}

/* Partial Right Panes */

.g-24 {
  background-color: hsla(52, 97%, 64%, 0.3);
}

.g-29 {
  background-color: hsla(191, 49%, 43%, 0.3);
}

.g-34 {
  background-color: hsla(354, 65%, 59%, 0.3);
}

/* Partial Bottom Panes */

.g-33 {
  background-color: hsla(174, 86%, 57%, 0.3);
}

.g-26 {
  background-color: hsla(183, 9%, 32%, 0.3);
}

.g-19 {
  background-color: hsla(52, 97%, 64%, 0.3);
}

@media screen and (min-width: 600px)  {
  .add-gal-photo {
    font-size: 2vh;
  }
}

@media screen and (min-width: 700px)  {
  .gallery-panes {
    grid-template-columns: repeat(8, 14vh);
    grid-template-rows: repeat(8, 14vh);
  }
}

@media screen and (min-width: 800px)  {
  .gallery-panes {
    grid-template-columns: repeat(8, 16vh);
    grid-template-rows: repeat(8, 16vh);
  }
}

@media screen and (min-width: 900px)  {
  .gallery-panes {
    grid-template-columns: repeat(8, 18vh);
    grid-template-rows: repeat(8, 18vh);
  }

  .gal-view {
    height: 80vh;
  }
}

@media screen and (min-width: 1500px)  {
  .gallery-panes {
    margin-left: 5.75vh;
    margin-top: -32vh;
  }

  .gal-view, .slideshow, .profile-dome {
    width: 114vh;
  }

  .gal-view {
    height: 80vh;
    
  }
}