.header, .title-graphic, .stripes, .title-diamond {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-diamond, .header-diamond, .header-stone, h1, .sun > img {
    position: absolute;
} 

h1 {
    z-index: 2;
}

.header {
    height: 10vh;
    width: 100%;
    justify-content: flex-start;
    margin-top: 2vh;
}

.title {
    color: #ad9976;
    margin: 0;
    /* font-family: 'Unna', serif; */
   font-family: 'Limelight';
   font-size: 3vh;
}

.sun > img {
    height: 4rem;
    width: 4rem;
    top: 1rem;
    left: 1.1rem;
    background-color: #ffff0085;
    border-radius: 50%;
    padding: .5vh;
}

.title-graphic {
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}

.header-diamond {
    border: 1px solid #ad9976;
    height: 7vh;
    width: 7vh;
    transform: rotate(45deg);
    z-index: 1;
    background-color: #0E1525;
}

.stripes {
    width: 45vh;
}

.stripe {
    height: .25vh;
    width: 67%;
    background-color: #ad9976;
    position: relative;
    margin: .75vh;
}

.right, .left {
    height: 5vh;
    width: 5vh;
    background: transparent;
    z-index: 3;
}

.left {
    margin-right: 17vh;
}

.right {
    margin-left: 17vh;
}

.center {
    z-index: 2;
    height: 10vh;
    width: 10vh;
}

.header-stone {
    height: 11vh;
    width: 10vh;
    border: 1px solid #ad9976;
    background-color: #0E1525;
    border-radius: 30% 30% 0% 0%;
}
