.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 3vh;
}

.title {
    color: #ad9976;
    margin: 0;
    margin-left: 15%;
    /* font-family: 'Unna', serif; */
   font-family: 'Limelight';
   font-size: 6vh;
}

.sun {
    background-color: #ffff0085;
    width: 100px;
    height: 100px;
    border-radius: 50%
}

.sun > img {
    color: white;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 1rem;
    left: 1.1rem;
    background-color: yellow;;
    border-radius: 50%;
    padding: 2vh;
}
  
  .title-diamond {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  
  .header-diamond {
    border: 1px solid black;
    height: 7vh;
    width: 7vh;
    transform: rotate(45deg);
    position: absolute;
    z-index: 1;
    background-color: white;
  }
  
  h1 {
    z-index: 2;
    position: absolute;
  }
  
  .stripes {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .stripe {
    height: .25vh;
    width: 40%;
    background-color: black;
    position: relative;
    margin: 1vh;
  }
  
