.obit {
    background-color: rgb(62, 57, 57);
    display: grid;
    grid-template-rows: 10% 35% 10% 35% 10%;
    grid-template-columns: 10% 35% 10% 35% 10% ;
    height: 87vh;
    width: 99vw;
}

.corner1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.corner2 {
    grid-row: 1 / span 1;
    grid-column: 5 / span 1;
}
.corner3 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
}
.corner4 {
    grid-row: 5 / span 1;
    grid-column: 5 / span 1;
}

.middle1 {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

.middle2 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.middle3 {
    grid-row: 3 / span 1;
    grid-column: 5 / span 1;
}

.middle4 {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
}

.rectangle {
    background-color: hsla(174, 86%, 57%, 0.3);
    border: 1vh solid #0E1525;
    outline: 1px solid #AD9976;
}

.small-square {
    background-color: hsla(4, 70%, 62%, 0.3);
    border: 1vh solid #0E1525;
    outline: 1px solid #AD9976;
}

.obit-text {
    align-items: center;
    background-color: #0E1525;
    border: 1vh solid #0E1525;
    outline: 1px solid #AD9976;
    color: white;
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    word-wrap: break-word;
    padding: 2vh;
}

.obit-error {
    background-color: #AD9976;
    border: .3rem solid #0E1525;
    color: #0E1525;
    display: flex;;
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.edit-button {
    padding: 0%;  
    text-align: center;
}

.remaining {
    color: white;
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
    text-align: center;
}

.obit-head {
    color: #AD9976;
    font-size: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}