.sundial-display {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  margin-top: 6%;
  width: 100vw;
}

.sundial {
  position: relative;
  height: 53vh;
  width: 53vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  z-index: 0;
}

.circle {
  border: 1px solid #ad9976;
  height: 43vh;
  width: 43vh;
  border-radius: 50%;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-circle {
  border: 1px solid #ad9976;
  height: 51vh;
  width: 51vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e1525;
  position: absolute;
  z-index: 1;
}

.marks {
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.mark {
  height: 21vh;
  width: 4vh;
  color: #ad9976;
  position: absolute;
  bottom: 3.75vh; 
  transform-origin: 2vh 25vh;
  text-align: center;
  border: 1px solid #ad9976;
  border-top: 0;
}

.profile {
  margin-right: 20vh;
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 9vh;
}

.prof-photo {
  border-radius: 50%;
  height: 11vh;
  width: 11vh;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  border: 1px solid #bf381c;
  background-color: teal;
  z-index: 2;
}

.mark:nth-child(1) {
  transform: translateX(-2vh) rotate(0deg);
}

.mark:nth-child(2) {
  transform: translateX(-2vh) rotate(30deg);
}

.mark:nth-child(3) {
  transform: translateX(-2vh) rotate(60deg);
}

.mark:nth-child(4) {
  transform: translateX(-2vh) rotate(90deg);
}

.mark:nth-child(5) {
  transform: translateX(-2vh) rotate(120deg);
}

.mark:nth-child(6) {
  transform: translateX(-2vh) rotate(150deg);
}

.mark:nth-child(7) {
  transform: translateX(-2vh) rotate(180deg);
}

.mark:nth-child(8) {
  transform: translateX(-2vh) rotate(210deg);
}

.mark:nth-child(9) {
  transform: translateX(-2vh) rotate(240deg);
}

.mark:nth-child(10) {
  transform: translateX(-2vh) rotate(270deg);
}

.mark:nth-child(11) {
  transform: translateX(-2vh) rotate(300deg);
}

.mark:nth-child(12) {
  transform: translateX(-2vh) rotate(330deg);
}

.mark:nth-child(13) {
  transform: translateX(-2vh) rotate(360deg);
}

.date-container {
  display: flex;
}

.date-picker-container {
  display: flex;
  width: 80%;
}

.release-days {
  background-color: hsla(183, 9%, 32%, 0.3);
  border-radius: 1vh;
  border: 1px solid #ad9976;
  color: #ad9976;
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-evenly;
  margin-right: 3%;
  width: 35vh;
  text-align: center;
}

.date-of-release {
  align-items: center;
  color: #ad9976;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1vh;
  background-color: hsla(183, 9%, 32%, 0.3);
  border: 1px solid #ad9976;
  width: 44vh;
  text-align: center;
}

.release-days > *, .date-of-release > * {
  margin: 0;
}

.countdown-num {
  color: hsla(174, 86%, 57%, 0.3);
  font-size: 1.4rem;
  margin-top: 0;
}

.edit-date-button {
  background-color: rgba(74,88,89,.3);
  border: 1px solid #ad9976;
  border-radius: 1vh;
  color: white;
  padding: .4rem;
  margin-left: 2%;
  width: 40%;
}

.edit-date-button:hover {
  background-color: rgba(114, 125, 126, 0.3);
  cursor: pointer;
}

.date-picker {
  z-index: 1;
}

.progress-outer {
  border-radius: 50%;
  position: relative;
  border: 1px solid #ad9976;
}

.progress-inner {
  border-radius: 50%;
  background: #126374;
  padding: 2em;
}

.progress {
  position: absolute;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  z-index: 1;
}

.progress-ring {
  z-index: 6;
  stroke-width: .25em;
  stroke: #FFFFFF;
  fill: red;
}

.email-sent {
  position: absolute;
  opacity: 1;
  animation: slide2 10s;
  border-radius: 5px;
  padding: 0 1rem;
  background: #900c3f;
}

@keyframes slide2 {
  from {
      transform: scale(0.1) translatey(-10px);
      opacity: 0;
    }

    30% {
      transform: scale(1) translatey(-100px);
      opacity: 1;
    }

    70% {
      transform: scale(1) translatey(-100px);
      opacity: 1;
    }
    to {
      transform: scale(0.8) translatey(-10px);
      opacity: 0;
    }
}
