.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 111vh;
  width: 100vw;
  z-index: 3;
}

.modal {
  background-color: hsla(0, 0%, 41%, 0.85);
  width: 50vh;
  height: 50vh;
  border-radius: 2vh;
  border: 1px solid #ad9976;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;

}

.login-message {
  color: white;
  font-size: 3vh;
  padding-left: 3vh;
  padding-right: 3vh;
  text-align: center;
}

.modal-header, .modal-body {
  display: flex;
}

.modal-body {
  flex-direction: column;
}

.login-input {
  width: 20vh;
  height: 3vh;
  border-radius: 0.5vh;
  outline: 0;
  border: 1px solid #e3655b;
  margin-top: 1.5vh;
}

.submit-login {
  width: 10vh;
  background-color: #0e1525;
  color: white;
  border: 1px solid #3891a6;
  border-radius: 1vh;
  height: 3vh;
  margin-top: 3vh;
}

.error {
  color: red;
}

.submit-login:hover {
  background-color: #3891a6
}