.photo-add {
    display: grid;
    grid-template-rows: 10% 45% 45% 10%;
    grid-template-columns: 10% 40% 40% 10% ;
    height: 87vh;
    width: 99vw;
}

.photo-title {
    background-color: #24CAFA;
    border: .3rem solid black;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    text-align: center;
}

.photo-title > h2 {
    margin: 0;
}

.photo-corner1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.photo-corner2 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
.photo-corner3 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}
.photo-corner4 {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
}

.user-image {
    border: 2px solid black;
    height: 6rem;
    width: 6rem;
}

.square1 {
    align-items: center;
    background-color: #2247A8;
    border: .3rem solid black;
    display: flex;
    flex-direction: column;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-content: center;    
}

.square2 {
    background-color: #478CE7;
    border: .3rem solid black;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;    
}

.square3 {
    background-color: #2896FE;
    border: .3rem solid black;
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;    
}

.side1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.side2 {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}

.bottom-rectangle1 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.bottom-rectangle2 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}

.photo-rectangle {
    background-color: #24CAFA;
    border: .3rem solid black;
}

.photo-small-square {
    background-color: #0406E7;
    border: .3rem solid black;
}

.file-form {
    align-items: center;
    background-color: #900c3f;
    border: .3rem solid black;
    display: flex;
    justify-content: center;
    color: white;
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    word-wrap: break-word;
}

.obit-error {
    background-color: #AD9976;
    border: .3rem solid black;
    color: black;
    display: flex;;
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.edit-button {
    padding: 0%;  
    text-align: center;
}
