.photo-add {
    display: grid;
    grid-template-rows: 10% 45% 45% 10%;
    grid-template-columns: 10% 40% 40% 10% ;
    height: 87vh;
    width: 99vw;
    margin-top: 6vh;
}

.photo-title {
    align-items: center;
    background-color: hsla(183, 9%, 32%, 0.3);
    border: 1vh solid #0e1525;;
    outline: 1px solid #AD9976;
    display: flex;
    justify-content: center;
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    text-align: center;
    color: #AD9976;
}

.photo-title > h2 {
    margin: 0;
}

.photo-corner1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}
.photo-corner2 {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
}
.photo-corner3 {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
}
.photo-corner4 {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
}

.user-image {
    border: 2px solid #0e1525;
    outline: 1px solid #AD9976;
    height: 6rem;
    width: 6rem;
}

.square1 {
    align-items: center;
    background-color: hsla(223, 66%, 39%, 0.3);
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
    display: flex;
    flex-direction: column;
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    justify-content: center;    
    color: white;
}

.square2 {
    background-color: hsla(214, 76%, 59%, 0.3);
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;    
}

.square3 {
    background-color: hsla(209, 99%, 57%, 0.3);
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;    
}

.side1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.side2 {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
}

.bottom-rectangle1 {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.bottom-rectangle2 {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
}

.photo-rectangle {
    background-color: hsla(193, 95%, 56%, 0.3);
    border: .3rem solid #0e1525;
    outline: 1px solid #AD9976;
}

.photo-small-square {
    background-color: hsla(239, 96%, 46%, 0.3);
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
}

.photo-form {
    align-items: center;
    background-color: hsla(354, 65%, 59%, 0.3);
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    word-wrap: break-word;
}

.photo-upload {
    margin-left: 20%;
}

.obit-error {
    background-color: #AD9976;
    border: 1vh solid #0e1525;
    outline: 1px solid #AD9976;
    color: black;
    display: flex;;
    grid-row: 2 / span 3;
    grid-column: 2 / span 3;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.photo-edit-button {
    padding: 0%;  
    text-align: center;
    width: 7vh;
}
